.phone{
    position: absolute;
    width: 100px;
    height: 200px;
    background-color: #D6E3BC;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    border: 1px solid black;
}

.screen {
    height: 50%; 
    background-color: white;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    border-radius: 20px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 10px;
    position: relative;
}

.button {
    width: 20px;
    height: 17px;
    background-color: #3F3151;
    border-radius: 50%;
    border: 1px solid black;
}

.phone-transform {
    transform: translateX(200px);
}

.button1{
    transform: translate(10px, 10px);
}

.button2{
    transform: translate(10px,20px);
}

.button3{
    transform: translate(10px,30px);
}

.row2 {
    transform: translate(30%, -100%);
}

.row3 {
    transform: translate(60%, -200%);
}

